.contactSection {
    width: 100%;

    display: flex;
    justify-content: center;
    margin-bottom: 144px;
    position: relative;

    .content {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(24px, 0.5vw, 56px);

        .contactContainer {
            width: 100%;
            display: flex;
            gap: 56px;

            .textContainer {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;

                >p {
                    width: 100%;
                    max-width: 700px;
                }

                .contactData {
                    border-top: solid 2px var(--highlight);
                    width: 100%;
                    max-width: 700px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;


                    .adress {
                        display: flex;
                        flex-direction: column;
                        margin-block: 24px;
                        gap: 4px;

                        >p {
                            font-size: 16px;

                        }

                        :nth-child(1) {
                            font-weight: 500;

                        }
                    }

                    .dataContainer {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        >img {
                            width: 24px;
                        }

                        >a {
                            font-size: 16px;
                            font-weight: 250;
                        }


                    }
                }

                .linkboxContainer {
                    width: fit-content;
                }
            }

            .formContainer {
                width: 100%;

                display: flex;
                justify-content: flex-start;
            }



        }

        .divider {
            width: 100%;
            margin-top: -30px;
        }
    }

    .response {

        padding: 32px 64px;
        background-color: var(--transparent);
        backdrop-filter: blur(10px);
        box-shadow: var(--shadow);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(100vw, -50%);
        transition: transform 1s ease-in-out;
    }
}

.slidin {
    animation: slide 6s ease;
}

@keyframes slide {
    0% {
        transform: translate(100vw, -50%);
    }

    50% {
        transform: translate(-50%, -50%);
    }

    100% {
       opacity: 0;
    }
}

@media(max-width:1000px) {
    .contactContainer {
        flex-direction: column;
        align-items: center;
    }

    .textContainer {
        align-items: center;
    }

    .divider {
        margin-top: 100px !important;
    }
}