form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;


    .inputContainer {
        width: 100%;
        min-height: clamp(75px, 1vw, 85px);
        display: flex;
        flex-direction: column;

        border-radius: 10px;
        gap: 4px;


        >label {
            font-weight: 400px;
            margin-bottom: 4px;
        }

        >input {
            width: 100%;
            height: clamp(50px, 1vw, 60px);
            // border: solid 1px var(--dark);
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 15px;
            background-color: var(--back);

            &::placeholder {
                font-size: 14px
            }
        }

        >p {

            width: 100%;

            font-size: 14px;
            color: #a80202;

        }

        textarea {
            width: 100%;
            height: clamp(100px,8vw, 200px);
            // border: solid 1px var(--dark);
            border-radius: 4px;
            box-sizing: border-box;
            padding: 15px;
            background-color: var(--back);

            &::placeholder {
                font-size: 14px
            }
        }

    }

    .privacy {
        width: 100%;
        min-height: 45px;
        display: flex;
        flex-direction: column;

        gap: 4px;

        .privacyContainer {
            display: flex;
            align-items: center;
            gap: 12px;

            .checkbox {
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 1px var(--dark);
                border-radius: 4px;
                width: 20px;
                height: 20px;

                >img {
                    width: 70%;
                }
            }

            >p {
                font-size: clamp(14px, 1vw, 16px);

                >a {
                    font-size: clamp(14px, 1vw, 16px);
                    color: var(--font-title);
                }
            }


        }

        >span {
            width: 100%;

            font-size: 14px;
            color: #a80202;

        }


    }



    .btnContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
margin-top: 24px;
    }
}

.textfield {
    min-height: clamp(140px, 10vw, 240px) !important;
}


input,
textarea {
    all: unset;
    /* entfernt ALLE Standard-Styles */
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}