.headerSection {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--transparent);
    backdrop-filter: blur(10px);
    box-shadow: 6px 0px 10px 2px rgba(0, 0, 0, 0.08);
    z-index: 1;
}

.whiteHeader {
    background-color: var(--bodyback);
}

.content {
    width: 100%;
    height: 100%;
    max-width: 2160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}





.logo {
    width: clamp(40px, 3vw, 80px);

    >a {
        width: 100%;
        height: 100%;

        >img {
            width: 100%;
            height: 100%;
        }
    }

}

.burger {
    width: 30px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;

    >div {
        width: 100%;
        height: 4px;
        background-color: var(--highlight);
        border-radius: 6px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform-origin: center;
    }

    &.transformBurger {
        >div:nth-child(1) {
            animation: slideAndRotate1 0.8s forwards;
        }

        >div:nth-child(2) {
            opacity: 0;
        }

        >div:nth-child(3) {
            animation: slideAndRotate3 0.8s forwards;
        }
    }
}

@keyframes slideAndRotate1 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(10px) rotate(0);
    }

    100% {
        transform: translateY(9px) rotate(45deg);
    }
}

@keyframes slideAndRotate3 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-10px) rotate(0);
    }

    100% {
        transform: translateY(-9px) rotate(-45deg);
    }
}


.resetBurger {
    >div:nth-child(1) {
        animation: slideBack1 0.8s forwards;
    }

    >div:nth-child(2) {
        opacity: 1;
    }

    >div:nth-child(3) {
        animation: slideBack2 0.8s forwards;
    }
}

@keyframes slideBack1 {
    0% {
        transform: translateY(9px) rotate(45deg);
    }

    50% {
        transform: translateY(10px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes slideBack2 {
    0% {
        transform: translateY(-9px) rotate(-45deg);
    }

    50% {
        transform: translateY(-10px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

.respMenu {
    width: 300px;
   
    position: fixed;
    top: 100px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bodyback);
    border-radius: 20px 0 0 20px;
    padding: 64px 32px;
    transform: translate(120%);
    transition: transform 0.5s ease-in-out;

    >div {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 28px;

        >a {
            font-size: 18px;
        }
    }
}


.slide {
    transform: translateX(0);
}

.respContainer {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.respContact {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    >a {
        width: 25px;
        height: 25px;

        >img {
            width: 25px;
        }
    }

}

.divider {
    height: 45%;
    width: 2px;
    background-color: var(--highlight);
}

.darkHandler {
    // min-width: 20px;
    // min-height: 20px;
    // border: solid var(--dark);
    // border-radius: 100px;    
    cursor: pointer;
}
.settingsBtn{
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
    border-radius: 100px;
    padding: 12px;

    cursor: pointer;
    img{
        width:20px
    }
}

.slideSettings{
    transform: translateX(0) !important;
}
.settingsContainer {
    position: fixed;
    top: 104px;
    right: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: var(--box);
    padding: 32px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    border-radius: 8px;
    
}

@media(max-width: 1000px) {
    nav {
        display: none;
    }

    .headerSection {
        height: 80px;
    }

    .respMenu {
        top: 80px;
    }
}

@media(min-width: 1000px) {
    .respContainer {
        display: none;
    }

}

@media(max-width: 580px) {

    .respMenu {
        width: 100%;
        border-radius: 0;
        height: 100vh;
        // background-color: white;

        >div {
            
            justify-content: flex-start;
            align-items: center;
        }
    }

}