.headlineContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: center;
    gap: clamp(8px, 5vw, 16px);
    margin-bottom: clamp(32px, 2vw, 200px);
    position: relative;

    >div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        >h1 {
            font-size: 32px;
        }


    }
}

.backgroundText {

    top: 50%;
    font-size: clamp(3.4rem, 8vw, 5.5rem);
    font-weight: 500;
    margin: 0;
    opacity: 0.03;

}

.underline {
    width: 140%;
    height: 1px;
    display: flex;
    justify-content: center;
    background-color: var(--back);
    border-radius: 100px;
}

.inline {
    width: 40%;
    height: 100%;
    background-color: var(--main);
    border-radius: 100px;
}

@media(max-width:1150px) {
    .headlineContainer {
        align-items: center;

        >div {
            align-items: center;
        }
    }

    .underline {
        justify-content: center;
    }
}