:root {
    --font: #333333;
    --font-hero: #04729f;
    --font-title: #04729f;
    --font-highlight: black;
    --bodyback: #fcfeff;
    --highlight: #04729f;



    --font2: #6d6d6d;
    // --font2: red;
    --white-font: #ffffff;

    --dark: #022f40;
    --back: #eff0f0;
    --shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.08);
    --transparent: rgba(255, 255, 255, 0.697);
    --gap: 24px;

    --box: #ffffff;
    --test: #667d8f;
    --border: #fcfeff;
}

.dark-theme {
    --font: #c1bebe !important;
    --font-hero: #ebe9e9;
    // --font-highlight: #eaeaea;
    --font-highlight: rgb(231, 238, 246);
    --bodyback: #091722;
    --font-title: #254f76;

    --highlight: #254f76;
    --back: #0c2131;
    --transparent: #1527387e;

    --dark: #254f76;

    --box: #0c2131;
    --border: #254f76;
    ;

}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    color: var(--font);
    font-weight: 250;
    font-family: 'Inter';
    overflow-x: hidden;
    background-color: var(--bodyback);

}

section,
div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--font);
    font-size: 1.2rem;
    font-weight: 400;
    transition: color 0.15s ease-in-out;

    &:hover {
        color: var(--font-title);
    }
}


p {
    margin: 0;
}

h1 {
    font-size: clamp(2.2rem, 4vw, 4.5rem);
    font-weight: 500;
    margin: 0;
    color: var(--font-title);
}

h2 {
    margin: 0;
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    font-weight: 400;
    color: var(--font-title);
}

h3 {
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 500;
}

h4 {
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 400;
    // padding-bottom: 6px;
    // border-bottom: solid 1px var(--button);

}

button {
    background-color: var(--dark);
    width: clamp(140px, 8vw, 160px);
    aspect-ratio: 1/0.375;
    border: none;
    border-radius: 10px;
    color: var(--white-font);
    font-size: 1rem;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;


    // &:hover {
    //     background-color: var(--dark);
    // }
}

.btnBack {
    position: relative;
    width: clamp(140px, 8vw, 160px);
    aspect-ratio: 1/0.375;

    border-radius: 10px;
    background-color: var(--box);
    transition: transform 0.2s ease-in-out;

    >button {
        position: absolute;
        top: -8px;
        left: -8px;
        transition: left 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.5s ease-in-out;
        ;

        &:hover {
            top: 0;
            left: 0;

        }



    }

    &:has(>button:active) {
        transform: scale(0.95);
    }
}

.screenPadding {
    padding-left: clamp(16px, calc(6vw - 7.5px), 120px);
    padding-right: clamp(16px, calc(6vw - 7.5px), 120px);
}

.screenMargin {
    margin-top: 156px;
}

.placeholder {
    width: 100%;
    height: 100px;
}

.mainContent {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.light {
    background-color: white;
}

.dark {
    background-color: var(--dark);
}

// @media(max-width:1000px) {
//     button {
//         width: 160px;
//         height: 50px;
//         font-size: 0.8rem;
//     }

//     .btnBack {
//         width: 160px;
//         height: 50px;
//     }
// }

@media(max-width: 850px) {
    .screenMargin {
        margin-top: 96px;
    }
}

@media(max-width: 750px) {

    .placeholder {
        height: 80px;
    }
}

@media(max-width: 600px) {
    :root {
        --gap: 16px;
    }
}

@media(pointer: coarse) {
    .btnBack {
        >button {
            top: 0;
            left: 0;
        }
    }
}