.sidebarSection{
    position: fixed;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 4px;
    >button{
        width: 40px;
        height: 40px;
        border-radius: 4px;
       
    }
}