.stackSection {
    width: 100%;
    min-height: calc(100vh - 100px);
    // min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 56px;


}

.content {
    width: 100%;

    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    >p {
        text-align: center;
    }

}

.skillContainer {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    // display: flex;

    // justify-content: center;
    // align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: flex-start;
    gap: clamp(96px, 10vw, 112px);
    // padding: 32px;
    border-radius: 8px;
    // box-shadow: var(--shadow);
    // background-color: var(--box);

}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--highlight);
    border-radius: 10px;
}

.stackContainer {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;

    >h4 {
        font-size: clamp(1.3rem, 2vw, 1.5rem);
        color: var(--font-highlight);
    }

    >p {
        margin-top: 16px;
    }
}

.techIcons {
    width: 100%;
    display: flex;

    gap: clamp(16px, 2vw, 56px);



}

.techIcon {

    display: flex;
    align-items: center;
    gap: 8px;

    >span {
        font-size: 18px;
        font-weight: 400;

    }

    >img {
        width: 30px;
        padding: 12px;
        border-radius: 4px;
        box-shadow: var(--shadow);
        background-color: var(--box);
    }
}


@media(max-width:930px) {
    .skillContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}



















// .skillIconsContainer {
//     width: 100%;

//     display: flex;
// justify-content: center;
//     // border-bottom: solid var(--back);



//     gap: clamp(56px, 8vw, 224px);


// }

// .backendSkillsContainer {
//     width: 100%;
//     // min-height: 80vh;
//     display: flex;
//     // flex-direction: column;
//     justify-content: flex-start;
//     // border-bottom: solid var(--back);

//     align-items: flex-start;

//     gap: clamp(56px, 8vw, 224px);
// }



.textContainer {
    width: 100%;
    max-width: clamp(500px, 30vw, 500px);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    border-radius: 4px;
    background-color: var(--back);
}


// .skillsContainer {
//     width: 100%;
//     height: 100%;
//     display: flex;


// }

.skillCards {
    width: 100%;
    // width: clamp(300px, 60vw, 1120px);
    max-width: 800px;

    // height: clamp(50px, 30vw, 620px);
    aspect-ratio: 2/1;
    position: relative;


    >span {
        font-size: clamp(32px, 2vw, 56px);
        font-weight: 400;
    }

}




// .methodsContainer {
//     width: 100%;
//     min-height: 80vh;

//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     gap: clamp(56px, 8vw, 96px);

//     >h1 {
//         font-size: clamp(32px, 2vw, 48px);
//         text-align: center;
//         box-sizing: border-box;
//         padding: 16px;
//         border-radius: 8px;

//     }
// }

// .methodsContent {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     gap: 32px;


// }

// .methodCard {

//     width: 100%;
//     max-width: 500px;
//     height: clamp(360px, calc(600px - 8vw), 440px);
//     box-shadow: var(--shadow);
//     border-radius: 8px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 32px;
//     gap: 32px;
//     text-align: center;

//     >img {
//         width: 70px
//     }


// }

.flipCard {
    perspective: 1000px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    width: 40px;
    height: 40px;
    transition: left 1s ease-in-out, top 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;

    >img {
        width: 35%;
    }

    &:nth-child(1) {
        top: 30%;
        left: 40%;
    }

    &:nth-child(2) {
        top: 30%;
        left: 85%;
    }

    &:nth-child(3) {
        top: 10%;
        left: 10%;
    }

    &:nth-child(4) {
        top: 10%;
        left: 65%;
    }

    &:nth-child(5) {
        top: 80%;
        left: 20%;
    }

    &:nth-child(6) {
        top: 80%;
        left: 80%;
    }

    &:nth-child(7) {
        top: 50%;
        left: 10%;
    }

    &:nth-child(8) {
        top: 80%;
        left: 50%;
    }


    cursor: pointer;

    .flipCardInner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s ease-in-out;
        transform-style: preserve-3d;
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
    }

    &:hover .flipCardInner {
        transform: rotateY(180deg);
    }

    .flipCardFront,
    .flipCardBack {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;


    }

    .flipCardFront {
        gap: 24px;

        >h3 {
            font-size: clamp(0.5rem, 0.2vw, 1.2rem) !important;
        }

        >img {
            width: 45%;
        }
    }

    .flipCardBack {
        transform: rotateY(180deg);
        gap: 16px;
        padding: 12px;

        >span {
            text-align: center;

            // font-size: clamp(12px, 0.5vw, 14px) !important;
            font-weight: 300;
        }

        >img {
            width: 45%;
        }
    }
}

// test



.skilldot {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    border-radius: 6px;
    background-color: white;
    width: 50px;
    height: 50px;
    transition: left 1s ease-in-out, top 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;

    >img {
        width: 45%;
    }

    &:nth-child(1) {
        top: 30%;
        left: 40%;
    }

    &:nth-child(2) {
        top: 30%;
        left: 85%;
    }

    &:nth-child(3) {
        top: 10%;
        left: 10%;
    }

    &:nth-child(4) {
        top: 10%;
        left: 65%;
    }

    &:nth-child(5) {
        top: 80%;
        left: 20%;
    }

    &:nth-child(6) {
        top: 80%;
        left: 80%;
    }

    &:nth-child(7) {
        top: 50%;
        left: 10%;
    }

    &:nth-child(8) {
        top: 80%;
        left: 50%;
    }
}


.move1 {

    // left: calc(var(--gap)/2) !important;
    left: calc(var(--gap)/2) !important;
    top: 0 !important;

    width: calc(100%/4 - var(--gap)) !important;
    height: calc(100%/2 - var(--gap)) !important;

    .flipCardBack {
        >span {
            font-size: clamp(0.6rem, 1vw, 1.2rem);
        }
    }
}

.move2 {
    left: calc(25% + calc(var(--gap)/2)) !important;
    top: 0 !important;
    width: calc(100%/4 - var(--gap)) !important;
    height: calc(100%/2 - var(--gap)) !important;

    .flipCardBack {
        >span {
            font-size: clamp(0.6rem, 1vw, 1.2rem);
        }
    }
}

.move3 {
    left: calc(50% + calc(var(--gap)/2)) !important;
    top: 0 !important;
    width: calc(100%/4 - var(--gap)) !important;
    height: calc(100%/2 - var(--gap)) !important;

    .flipCardBack {
        >span {
            font-size: clamp(0.6rem, 1vw, 1.2rem);
        }
    }
}

.move4 {
    left: calc(75% + calc(var(--gap)/2)) !important;
    top: 0 !important;
    width: calc(100%/4 - var(--gap)) !important;
    height: calc(100%/2 - var(--gap)) !important;

    .flipCardBack {
        >span {
            font-size: clamp(0.6rem, 1vw, 1.2rem);
        }
    }
}

.move5 {
    left: calc(var(--gap)/2) !important; // zentriert -> calc(var(--gap)/2))
    top: 50% !important;
    width: calc(100%/4 - var(--gap)) !important;
    height: calc(100%/2 - var(--gap)) !important;

    .flipCardBack {
        >span {
            font-size: clamp(0.6rem, 1vw, 1.2rem);
        }
    }
}

.move6 {
    left: calc(25% + calc(var(--gap)/2)) !important; // zentriert -> calc(25% + calc(var(--gap)/2))
    top: 50% !important;
    width: calc(100%/4 - var(--gap)) !important;
    height: calc(100%/2 - var(--gap)) !important;

    .flipCardBack {
        >span {
            font-size: clamp(0.6rem, 1vw, 1.2rem);
        }
    }
}

.move7 {
    left: calc(50% + calc(var(--gap)/2)) !important; // zentriert -> calc(50% + calc(var(--gap)/2))
    top: 50% !important;
    width: calc(100%/4 - var(--gap)) !important;
    height: calc(100%/2 - var(--gap)) !important;

    .flipCardBack {
        >span {
            font-size: clamp(0.6rem, 1vw, 1.2rem);
        }
    }
}

.move8 {
    left: calc(75% + calc(var(--gap)/2)) !important; // zentriert -> calc(75% + calc(var(--gap)/2))
    top: 50% !important;
    width: calc(100%/4 - var(--gap)) !important;
    height: calc(100%/2 - var(--gap)) !important;

    .flipCardBack {
        >span {
            font-size: clamp(0.6rem, 1vw, 1.2rem);
        }
    }
}







// .learningProgress {
//     width: 100%;
//     max-width: 700px;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     padding: 8px;

//     border-radius: 10px;


// }

// .learningProgressContainer {
//     width: 100%;

//     height: 100%;
//     display: flex;

//     gap: clamp(18px, 2vw, 48px);

//     >h2 {
//         width: 100%;
//         text-align: center;
//         background-color: var(--back);
//         box-sizing: border-box;
//         padding: 16px;

//     }
// }

// .learningProgressInner {
//     width: 100%;

//     // display: grid;
//     // grid-template-columns: repeat(4, 1fr);
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     gap: clamp(32px, 7vw, 56px)
// }

// .progressContainer {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     gap: clamp(0px, 1vw, 28px);
//     padding: 32px;
//     box-shadow: var(--shadow);

//     border-radius: 8px;
// }

// svg {
//     width: clamp(80px, 8vw, 100px);
//     height: clamp(80px, 8vw, 100px);
//     transition: transform 0.3s ease-in-out;

//     &:hover {
//         transform: scale(1.1);
//     }
// }

// .skillName {
//     display: flex;
//     align-items: center;
//     gap: 8px;

//     >span {
//         font-size: clamp(16px, 5vw, 18px);
//         color: var(--dark);
//         font-weight: 400;
//     }

//     >img {
//         width: clamp(30px, 2vw, 40px);
//     }
// }

@media(max-width: 1150px) {

    .skillContainer {
        flex-direction: column-reverse;
        align-items: center;
    }

    // .skillIconsContainer {
    //     flex-direction: column;
    //     align-items: center;
    // }

    // .backendSkillsContainer {
    //     align-items: center;
    // }

    // .skillIconsContainer.reverse> :nth-child(1) {
    //     order: 2;
    // }

    // .skillIconsContainer.reverse> :nth-child(2) {
    //     order: 1;
    // }

    // .skillIcons {
    //     gap: 16px;
    // }

    // .content {
    //     align-items: center;
    // }



    // .learningProgressContainer {
    //     align-items: center;

    //     >h2 {
    //         text-align: center;
    //     }

    // }

    // .progressContainer {
    //     justify-content: center;
    // }

    // .methodsContent {
    //     flex-direction: column;
    //     align-items: center;
    // }

    // .methodCard {
    //     height: clamp(360px, calc(600px - 40vw), 420px);
    // }
}

// @media(max-width: 1000px) {

//     .progressContainer {

//         gap: 16px;
//     }

//     .textContainer {
//         >h2 {
//             text-align: center;
//         }
//     }

//     .learningProgressInner {
//         grid-template-columns: repeat(2, 1fr);
//     }

// }

// @media(max-width: 850px) {
//     .methodsContent {
//         flex-direction: column;
//     }
// }



// @media(max-width: 600px) {
//     .learningProgress {
//         padding: 16px;
//     }

//     .learningProgressContainer {
//         >h2 {
//             text-align: center;
//         }
//     }

//     .learningProgressInner {
//         grid-template-columns: repeat(1, 1fr);
//     }

//     .skillIconsContainer {
//         border-bottom: unset;
//     }

//     .backendSkillsContainer {
//         border-bottom: unset;
//     }
// }